# Project place file
/A Chain Game Template.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock
Packages
ServerPackages
src/server/Services/TestService.lua
src/client/Controllers/TestController.lua
.vscode